ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 0 !important;
}
li {
  padding: 10px 25px;
  border-top-right-radius: 50px;
  border-top-left-radius: 10px;
  background-color: rgb(207, 204, 204);
  font-weight: 600;
}
a {
  text-decoration: none;
  color: grey;
}

.active {
  background-color: white;
  color: rgb(65, 65, 173);
}

.margin-components{
  display: flex;
}
/* ------------List Component--------------- */
td {
  padding: 20px;
}
.pagination {
  display: flex;
  justify-content: center;
}

.pagination p {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
p:active {
  background-color: white;
}

table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
}
th{
  background-color: rgb(136, 136, 223);
  color: white;
  padding: 8px;
  text-align: center;
  padding-left:10px;
}
tr:nth-child(odd) {
  background-color: rgb(207, 205, 205);
}

td:nth-child(2) {
  width: 25%;
}
tr:hover{
  background-color: rgb(185, 185, 241);
}
.visited{
  background-color: rgb(85, 85, 128);
  color:white;
}
.selection{
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  line-height: 1.6;
  cursor: pointer;
}
/* --------------- Margin Components------------ */

.highmargincomponent{
  width:30%;
  background-color: white;
  margin:20px;
  padding-bottom: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.highmargincomponent h2{
  background-color: rgb(197, 194, 194);
  text-align: center;
}
.content-holder{
  display: flex;
  justify-content: space-around;
}
.content-holder p{
  margin:20px 5px;
  text-align: center;
}
/* ------------Fluctuating Components------------- */
.content-holder h4{
  height:45%;
  text-align: center;
}
.content-holder h3{
  margin:30px 5px;
  border-top: 1px solid grey;
  text-align: center;
}