* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: rgb(144, 142, 142);
}
body::-webkit-scrollbar {
  display: none;
}
.container {
  padding: 0 20px;
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 auto;
    max-width: 1280px;
    margin: auto;
  }
}
